<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.lewisu.cs.example.courseratingfragment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CourseRatingListActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CourseRatingDetailActivity"
            android:label="@string/title_courserating_detail"
            android:parentActivityName=".CourseRatingListActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.lewisu.cs.example.courseratingfragment.CourseRatingListActivity" />
        </activity>
    </application>

</manifest>